[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #0d0839;
    --md-typeset-a-color: #6bc7f3;
    --md-accent-fg-color: #ff6e42;
    --md-default-fg-color--light: hsla(var(--md-hue));
    --md-typeset-mark-color: #069884;
}

.bug {
    color: #fc0;
    background-color: #c00;
    }
.bug_light {
    color: #e6e6f5;
    background-color: #e6cccc;
    }
.bug,
.bug_light {
    border-radius: 5px;
    padding: .25em .5em;
    font-weight: bold;
    }
    .bug::before,
    .bug_light::before {
        content: 'bug';
        }
